<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto vero optio,
    sequi sapiente error dolorem suscipit! Asperiores dolorem consequuntur ab?
  </p>

  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon-primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Samer A.</h3>
        <p class="quote__organization">CEO of Mosh Company</p>
      </div>
    </div>
  </footer>
</blockquote>
